.mainLayout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100vw;
}

.loginFormLayout {

}

.loginForm {
  height: 35vh;
  width: 50vw;
}


/* Utility classes */
.light {
  background: #3B27BA;
  opacity: .75;
  color: white;
}

.dark {
  background: #B9FFFD;
  color: black;
}

.hidden {
  display: none;
}
