.mainLayout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100vw;
}

.loginFormLayout {
}

.loginForm {
  display: flex;
  flex-direction: column;
  height: 35vh;
  width: 50vw;
}

.login-input {
  margin: 25px;
  height: 25px;
  border-radius: 10px;
}

.submitBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.loginButton {
  background-color: #FFBE7B;
  border-radius: 10px;
  height: 40px;
  width: 125px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

/* Utility classes */
.light {
  background: #3B27BA;
  opacity: .75;
  color: white;
}

.dark {
  background: #B9FFFD;
  color: black;
}

.hidden {
  display: none;
}
