.mainLayout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100vw;
}

.loginFormLayout {
}

.loginForm {
  display: flex;
  flex-direction: column;
  height: 35vh;
  width: 50vw;
  border-radius: 10px 10px 0 0;
}

.login-input {
  margin: 25px;
  height: 25px;
  border-radius: 10px;
}

.submitBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0 0 10px 10px;
  padding-bottom: 10px;
}

.loginButton, .newUserButton {
  border-radius: 10px;
  height: 40px;
  width: 125px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.newUserButton {
  text-align: center;
  font-size: 15px;
  font-weight: normal;
  height: 28px;
  padding-top: 10px;
  border-top: 2px solid #767676;
  border-left: 2px solid #767676;
  border-right: 2px solid #212121;
  border-bottom: 2px solid #212121;
}

/* Utility classes */
.light {
  background: #3B27BA;
  opacity: .75;
  color: white;
}

.dark {
  background: #B9FFFD;
  color: black;
}

.hidden {
  display: none;
}

/* Mobile View */
@media only screen and (max-width: 580px) {
  .loginButton, .newUserButton {
    width: 45%;
  }

  .loginForm, .submitBox {
    width: 90vw;
  }
}
