.jobFilter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: .5rem;
}

.filtBut {
  height: 25px;
  font-weight: bold;
  border-radius: 10px;
  background-color: #FFBE7B;
  cursor: pointer;
}

.searchBar {
  margin: 25px;
  display:flex;
  align-items: center;
  justify-content: space-around;
}

.searchCommit {
  text-align: center;
  font-weight: bold;
  cursor: default;
}

.sb {
  width: 150px;
  border-radius: 10px;
}

.submitSearch {
  background-color: #01FFC3;
  font-weight: bold;
  cursor: pointer;
}

.clearSearch {
  background-color: #FFB3FD;
  font-weight: bold;
  cursor: pointer;
}

/* Mobile View */
@media only screen and (max-width: 580px) {
  .jobFilter {
    grid-template-columns: 1fr 1fr;
    width: auto;
    margin: 2.5vw;
  }

  .citySal {

  }

  .filtBut {
    height: 35px;
  }

  .searchBar {
    flex-wrap: wrap;
  }

  .sb {
    height: 35px;
    width: 45%;
  }

  .cityInput {
    width: 90%;
    margin-bottom: 10px;
  }

}
