.saveCardsLayout {
  grid-area: cards;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: .5rem;
  padding: .5rem;
  height: 88vh;
  overflow: scroll;
}

.userView {
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: auto;
  grid-template-areas:
    "cards desc";
}

.jobDetailLayout {
  height: 90vh;
  grid-area: desc;
  overflow: scroll;
}

/* Mobile View */
@media only screen and (max-width: 580px) {
  .userView {
    grid-template-columns: auto;
    grid-template-rows: 27vh auto;
    grid-template-areas:
      "cards"
      "desc";
  }

  .saveCardsLayout {
    grid-gap: 10px;
    grid-template-columns: 10px;
    grid-auto-flow: column;
    grid-auto-columns: calc(50% - var(--gutter) * 2);
  }

  .saveCardsLayout:before,
  .saveCardsLayout:after {
    content: '';
    width: 10px;
  }

}
