.headerLayout {
  display: flex;
  height: 10vh;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}

.mode {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  font-size: 25px;
  cursor: pointer;

}

.LeftButtonBox {
  width: 33vw;
  display: flex;
}

.rightHeaderButtons {
  width: 33vw;
  display: flex;
}

.titleBox {
  width: 33vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.appTitle {
  font-size: 3em;
  cursor: default;
}

.userlink {
  box-sizing: border-box;
  margin-top: 7vh;
  border-radius: 10px 10px 0 0;
  height: 3vh;
  width: 55px;
  border-top: 2px solid #767676;
  border-left: 2px solid #767676;
  border-right: 2px solid #212121;
  padding: 2px 2px 0 2px;
  text-align: center;
}

.userlink:hover {
  margin-top: 6vh;
  height: 4vh;
  padding-top: 5px;
}

/* Utility classes */
.light {
  background: #3B27BA;
  opacity: .75;
  color: white;
}

.dark {
  background: #B9FFFD;
  color: black;
}

.hidden {
  display: none;
}

/* Mobile View */
@media only screen and (max-width: 580px) {
  .headerLayout {
    height: 12vh;
  }

  .appTitle {
    font-size: 2em;
  }

  .userlink {
    height: 5vh;
  }

}
