.jobViewLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100vw;
}

.formStlye {
  height: 10vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.citySal {
  text-align: center;
  cursor: default;
}

.allSal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  border: 5px solid #B9FFFD;
  border-radius: 10px;
}

.salList {
  display: flex;
  width: 80vw;
}

.salItem {
  width: 100%;
  text-align: center;
  cursor: default;
}

.salTitle {
  font-size: 1em;
}

.range {
  font-size: .75em
}
